#header { 
    background-color: rgba(88, 88, 88, 0.594);
    width: 95%;
    text-align: center;
    border-radius: 3px;
    color: white;
    padding-top:16px ;
    padding-bottom:16px ;
    font-size: 25px;
}
canvas{
    background-color: cornflowerblue;
    margin-top: 180px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 6px;;
}